### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
total_players = len(purchase_data["SN"].unique())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = int(len(purchase_data["Item ID"].unique()))
avrage_price =float(purchase_data["Price"].mean())
purchases =int(purchase_data["Purchase ID"].count())
total_revenue=float(purchase_data["Price"].sum())

table = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avrage_price],"Number of Purchases":[purchases],"Total Revenue":[total_revenue] })
purchasing_table = table.style.format({'Average Price': "${:.2f}","Total Revenue": "${:,.2f}"})
purchasing_table

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
uniqueSN = purchase_data.drop_duplicates(subset=['SN'])
gender_counts = uniqueSN["Gender"].value_counts()

male_percentage = (gender_counts[0]/total_players)*100
female_percentage =(gender_counts[1]/total_players)*100
other_percentage =(gender_counts[2]/total_players)*100

gender_demographics = pd.DataFrame(gender_counts)
gender_demographics["Percentage of Players"] = [male_percentage,female_percentage,other_percentage]
gender_demographics = gender_demographics.rename(columns={"Gender": "Total Count"})
gender_demographics.style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_total_counts = purchase_data["Gender"].value_counts()
gender_purchase = pd.DataFrame(gender_total_counts).sort_index()

f_avr_purchase = float(purchase_data.loc[purchase_data["Gender"]=="Female", ["Price"]].mean())
m_avr_purchase = float(purchase_data.loc[purchase_data["Gender"]=="Male", ["Price"]].mean())
o_avr_purchase =  float(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", ["Price"]].mean())
gender_purchase["Average Purchase Price"]= [ m_avr_purchase,f_avr_purchase,o_avr_purchase]

f_total_purchase = float(purchase_data.loc[purchase_data["Gender"]=="Female", ["Price"]].sum())
m_total_purchase = float(purchase_data.loc[purchase_data["Gender"]=="Male", ["Price"]].sum())
o_total_purchase = float(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", ["Price"]].sum())
gender_purchase["Total Purchase Value"] = [ m_total_purchase,f_total_purchase, o_total_purchase]
    
f_avtotal_purchase = round(f_total_purchase/gender_counts[1],2)
m_avtotal_purchase = round(m_total_purchase/gender_counts[0],2)
o_avtotal_purchase = round(o_total_purchase/gender_counts[2],2)

gender_purchase["Avg Total Purchase per Person"]= [ m_avtotal_purchase,f_avtotal_purchase, o_avtotal_purchase]

gender_purchase = gender_purchase.rename(columns={"Gender": "Purchase Count"})
formatted_table =gender_purchase.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:,.2f}"})
formatted_table

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [81]:
data_table= uniqueSN
bins = pd.IntervalIndex.from_tuples([(0,9.5), (9.5,14), (14,19), (19,24),(24, 29), (29,34),(34,39),(39, 60)])
group_labels = ["<10", "10-14","15-19", "20-24", "25-29", "30-34","35-39", "40+"]
data_table["GroupedAge"]= pd.cut(data_table["Age"], bins)

data_table["Grouped Age"] = pd.cut(data_table["Age"], bins )
data_table = data_table.groupby("Grouped Age")
total_count = data_table["Grouped Age"].count()
age_demographics = pd.DataFrame({"":group_labels, "Total Count": total_count})
age_demographics= age_demographics.set_index("")

age_demographics["Percentage of Players"] = (age_demographics["Total Count"]/total_players)*100
age_demographics.style.format({"Percentage of Players": "{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame